body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

main {
    border: 1px solid #5d6f67;
    background-color: #f6f0da;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #3a5250;
    margin: .3rem 0;
}

figcaption {
    text-transform: capitalize;
    color: #3a5250;
    margin: .3rem 0;
}

#current-temp {
    font-size: 2rem;
    color: #537279;
    margin: .3rem 0;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #3a5250;
}

.card {
    border: 1px solid #5d6f67;
    background-color: #f6f0da;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    color: #3a5250;
    margin: .3rem 0;
}

.card #description {
    text-transform: capitalize;
    color: #3a5250;
    margin: .3rem 0;
}

.card #temperature {
    font-size: 2rem;
    color: #537279;
    margin: .3rem 0;
}