* {
    box-sizing: border-box;
}

#cards-places div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "name"
        "photograph"
        "location"
        "description"
        "button";
}

#cards-places div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#cards-places div img {
    width: 100%;
    grid-area: photograph;
}

#cards-places div p {
    margin: 1rem 10px;
    grid-area: description;
}

#cards-places div address {
    margin: 1rem 10px;
    grid-area: location;
}

#cards-places div button {
    margin: 1rem 10px;
    grid-area: button;
    justify-self: start;
}

/* hover effect */
#cards-places div img:hover {
    /*box-shadow: 0 0 50px #333;*/
    rotate: 0.05turn;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1px;
}