* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3D405B;
    --text-color: #3D405B;
    ;
    --background-color1: #ddd;
    --background-color2: #eee;
    --background-color3: #E07A5F;
    ;
    --border-radius: 22px;
    --font: "Merriweather Sans", sans-serif;
}

/* -- HEADER --  */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

header span {
    font-size: 1.2rem;
    color: var(--text-color);
    padding-bottom: 10px;
}

/* -- NAVIGATION HAMBURGER MENU --  */
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: var(--font);
}

/*
.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}*/

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--background-color1);
}

.navigation li.current {
    background-color: var(--background-color2);
}

.navigation a:hover {
    background-color: #E07A5F;
}

/*  h1 */
h1 {
    margin-left: 10px;
    color: var(--text-color);
}

/* -- FOOTER SECTION -- */
footer {
    background-color: var(--background-color2);
    padding: 1ren 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-top: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    /*border: red dashed 1px; */
    border: #ccc solid 1px;
    /*border-radius: 4px;*/
    /*cuadrado*/
    border-radius: var(--border-radius);
    /*redondo*/
}

.social a:hover {
    background-color: var(--background-color1);
}

.social img {
    width: 22px;
    height: 22px;
}

p {
    padding-bottom: 10px;
}