/* Larger Views ******************************/
/* 38rem ==> 38 por 16 = 608px */
@media only screen and (min-width: 38rem) {

    /*--main--*/
    .sections-container {
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
        max-width: 900px;
        margin: 0 auto;
    }

    .profile-image {
        width: 150px;
    }

    .courses-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /*-- navigation--*/
    /*flex: 1 1 100%;*/
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;

        li {
            flex: 1 1 auto;
        }
    }

    .navigation a {
        white-space: nowrap;
        text-align: center;
    }

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
        /* sin menu de hamburger*/
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation {
        display: flex;
    }

    .navigation a {
        border: none;
    }
}